* {
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  position: relative;
  text-align: center;
  overflow: hidden;
}
.alert-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.alert-div h1 {
  color: #5a5858;
  letter-spacing: 3px;
  padding: .5em 0;
  text-transform: uppercase;
}
.alert-div button {
  border: none;
  border-radius: 7px;
  color: #fff;
  margin: 0 1em;
  padding: 1em 1.5em;
  text-transform: uppercase;
}
.info {
  background-color: rgb(70, 70, 240);
}
.success {
  background-color: rgb(33, 211, 122);
}
.error {
  background-color: rgb(233, 55, 55);
}

/* DisplayAlert */
.div-info {
  background-color: rgb(70, 70, 240);
  border-radius: 7px 0 0 7px;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0%;
  width: 0%;
  transition: .3s;
}
.show-info-alert.div-info {
  position: absolute;
  top: 0;
  right: 0%;
  width: 50%;
  transition: .5s;
  width: 50%;
}
.div-success {
  background-color: rgb(33, 211, 122);
  border-radius: 7px 0 0 7px;
  color: #fff;
}
.show-info-success.div-success {
  position: absolute;
  top: 5%;
  right: 0%;
  width: 50%;
  transition: .5s;
}
.div-error {
  background-color: rgb(233, 55, 55);;
  border-radius: 7px 0 0 7px;
  color: #fff;
  transition: .5s;
}
.show-info-error.div-error {
  position: absolute;
  top: 10%;
  right: 0%;
  width: 50%;
  transition: .5s;
}